@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Outfit";
}

/* Design Tokens */
@theme {
  --text-home-heading-large: 3.5rem;   /* 56px */
  --text-home-heading-small: 2.25rem;  /* 36px */
}

/* Custom Utilities */
.text-home-heading-large {
  font-size: var(--text-home-heading-large);
}

.text-home-heading-small {
  font-size: var(--text-home-heading-small);
}